.homebg{
    background:linear-gradient(0deg, rgba(226, 219, 223, 0.582), rgb(240, 234, 234)), url("../../assets/bannerbg.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));;
    background-size: cover;
    background-repeat: no-repeat;
}